@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}

:root {
  --black: #1b1717;
  --laal: #890000;
  --maroon: #630000;
  --white: #fff;
  --bg2: rgb(231, 231, 231);
}
body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
  background-color: var(--white);
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
  font-size: 1.125rem;
}
a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none !important;
}
p {
  font-size: 1rem;
  text-align: justify;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.6rem !important;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-c {
  flex-direction: column;
}
.section {
  overflow: hidden;
  padding: 5rem 0 3.75rem;
}
.section:nth-child(even) {
  border: 1px solid var(--black);
}
.container {
  max-width: 85%;
  padding: 3.125rem 0;
  overflow: hidden;
  flex-direction: column;
}
.box {
  width: 100%;
  margin: 2.5rem 0;
  justify-content: space-around;
}
/* ---------------------------------------------------- */
/* heading */
.heading {
  position: relative;
}
.heading .round-animation {
  position: absolute;
  width: 80px;
  height: 80px;

  top: -22%;
  left: 40%;
  filter: blur(2px);
}
.heading .round-animation img {
  width: 100%;
  height: 100%;
}
.heading h1 {
  font-family: "Audiowide", sans-serif;
  font-weight: 500;
  margin: 0 0 1.25rem;
}
.heading span {
  color: var(--laal);
}
.heading p {
  font-size: 0.9rem;
}
/* ---------------------------------------------------- */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1.5s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
/* ---------------------------------------------------- */
/* themaroons*/
.themaroons {
  width: 100%;
  height: 100vh;
  background: url("image/hero.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.themaroons .maroon-box {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background: radial-gradient(#810000 0%, #630000 100%);
}
.themaroons .area {
  width: 2.5rem;
  height: 3.75rem;
  margin: 0 auto;
  border: 0.125rem solid var(--white);
  box-shadow: 0px 0px 10px var(--black);
  border-radius: 50px;
  position: absolute;
  bottom: 3.25rem;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(0.625rem);
}
.themaroons .area .mover {
  width: 0.5rem;
  height: 0.5rem;
  margin: 0.25rem auto 0;
  background: var(--white);
  border: var(--laal);
  border-radius: 50%;
  animation: move 3s infinite ease-in-out;
}
@keyframes move {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(0, 400%);
  }
}
/* ---------------------------------------------------- */
header {
  width: 100%;
  /* margin-top: 0.4rem; */
  padding: 0.3rem 3rem;
  align-items: center;
  position: sticky;
  top: 0px;
  z-index: 111;
  backdrop-filter: blur(1.25rem);
  border-top: 1px solid var(--black);
  border-bottom: 1px solid var(--black);
  box-shadow: 0 0 10px var(--black);
  /* overflow-x: hidden; */
}

.navbar {
  width: 85% !important;
  height: 58px;
  margin: auto;
  transition: all.3s ease-in;
}
.navbar .logo {
  width: fit-content;
  height: fit-content;
}
.navbar .logo .logo-img {
  width: 6.8rem;
  height: 1.7rem;
}
.navbar .logo .logo-img img {
  width: 100%;
  height: 100%;
}
.nav-list {
  /* min-height: 1px; */
  margin-top: 0.74rem;
}
.nav-list li {
  margin: 0 0.25rem;
}
.v-class-resp {
  margin: 0;
}
.nav-list li a {
  padding: 0.6rem 1rem;
  color: var(--black);
  font-weight: 600;
  position: relative;
}
.nav-list li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 0.188rem;
  background-color: var(--maroon);
  bottom: 0;
  left: 50%;
  z-index: 10;
  transition: all 0.3s ease;
}
.nav-list li a:hover::after,
.nav-list li a.active::after {
  width: 100%;
  left: 0;
}
.mobile-nav-btn {
  display: none;
  position: absolute;
  right: 0;
  top: 0.75rem;
  padding: 0.6rem 0.8rem;
  border-radius: 5rem;
  background-color: var(--laal);
  cursor: pointer;
}
.nav-icon {
  font-size: 1.4rem;
  color: var(--white);
}
.nav-icon[name="close"] {
  display: none;
}
/* ---------------------------------------------------- */
/* hero */

.hero .container {
  border: 0;
  gap: 2.5rem;
}
.hero .slide {
  border-radius: 5px;
  border: 0.063rem solid var(--black);
}
.hero .slider h1 {
  display: flex;
  align-items: center;
  min-width: 100%;
  min-height: 25rem;
  padding: 2.5rem 0;
  font-size: 6rem;
  font-weight: 200;
  line-height: 6.875rem;
}
.slider .carousel-indicators li {
  height: 5px;
  border-radius: 5px;
  background-color: var(--black);
}
.slider .carousel-indicators .active {
  background-color: var(--laal);
}
.hero-btn a {
  padding: 0.7rem 3.6rem !important;
  border-radius: 3.13rem;
  border: 0.125rem solid var(--ma);
  z-index: 3;
  color: var(--black);
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 2px 10px var(--laal);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
.hero-btn a::after {
  content: "";
  position: absolute;
  top: 0%;
  left: 50%;
  width: 0;
  height: 100%;
  z-index: -3;
  border-radius: 0.313rem;
  transition: all 0.4s ease;
  background-color: var(--maroon);
}
.hero-btn a:hover::after,
.hero-btn a:hover {
  width: 100%;
  left: 0;
  color: var(--white);
  top: 0;
}

/* ---------------------------------------------------- */
/* About us */

.about .box {
  padding: 0 1.25rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about .about-img {
  /* width: 29.688rem;
  height: 22.875rem; */
  flex: 40%;
  position: relative;
  animation: up-down 4s infinite linear;
}
@keyframes up-down {
  0%,
  100% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 15px;
    top: 0px;
  }
  50% {
    left: 15px;
    top: 15px;
  }
  75% {
    left: 0px;
    top: 15px;
  }
}
.about .about-img img {
  width: 90%;
  height: 90%;
}
.about .about-text {
  flex: 40%;
  line-height: 1.75rem;
}

/* ---------------------------------------------------- */
/* footer */
.footer {
  background-color: var(--black);
  padding: 3.75rem 0 1.25rem;
}
.footer .footer-icones {
  gap: 1.875rem;
  flex-wrap: wrap;
}

.footer .footer-icones i {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--white);
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
  transition: all 0.3s ease;
  font-size: 1.4rem;
}
.footer .footer-icones i:hover {
  color: var(--laal);
  font-size: 1.8rem;
}
.footer .footer-links {
  gap: 5rem;
  flex-wrap: wrap;
  margin: 1.875rem 0 1.25rem;
}
.footer .footer-links a {
  flex: 1%;
  text-align: center;
  padding: 0.313rem 0.626rem;
  color: var(--white);
  transition: all 0.3s ease-in-out;
}
.footer .footer-links a:hover {
  color: var(--laal);
}
.footer .footer-text a,
.footer .footer-text p {
  color: var(--white);
}
.footer .footer-text span {
  color: var(--laal);
}

/* --------------------------------------- */
/* scroll button start  */
#myBtn {
  display: none;
  position: fixed;
  bottom: 1.25rem;
  right: 1.875rem;
  z-index: 999;
  background-color: var(--laal);
  color: var(--white);
  cursor: pointer;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.4rem;
  border: 0.125rem solid var(--white);
  transition: all 0.3s ease;
}

#myBtn:hover {
  border: 2px solid var(--black);
  color: var(--black);
  background-color: var(--bg2);
}
/* -------------------------------------------------------------------------- */
/* responsive */
/* -------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------- */

@media only screen and (max-width: 1170px) {
  .themaroons {
    background-size: 90%;
  }
  /* ------------------------ */
  .hero .slider h1 {
    font-size: 5rem;
  }
  .nav-list li a {
    margin: 0 5px;
  }
  .navbar {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 1015px) {
  .nav-list li a {
    margin: 0;
    padding: 0.6rem 0.45rem;
  }
}
@media only screen and (max-width: 992px) {
  a,
  p,
  h1,
  h2 {
    font-size: 90%;
  }
  /* ------------------------ */

  .themaroons {
    background-size: 97%;
  }
  .themaroons.area {
    width: 1.8rem;
    height: 2.9rem;
  }
  /* ------------------------ */
  .hero .slider h1 {
    font-size: 4rem;
  }
  .hero-btn a {
    padding: 0.6rem 3rem !important;
  }
  /* ------------------------ */

  .nav-list li a {
    margin: 0;
    padding: 0.6rem 0.5rem;
  }

  .navbar {
    padding: 20px 0;
  }

  .hero .slider h1 {
    padding: 30px 0;
    font-size: 86px;
    line-height: 96px;
  }
  .hero-btn button {
    padding: 0.6rem 3rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
@media (max-width: 881px) {
  /* --------------------------- */
  /* project */
  .project .p-item {
    width: 12rem;
  }
}
@media only screen and (max-width: 852px) {
  /* ------------------------ */

  .themaroons {
    background-size: 110%;
  }
  /* ------------------------ */
  .hero .slider h1 {
    font-size: 3rem;
  }
  .nav-list li a {
    padding-left: 6px;
  }

  .header {
    padding: 0 0 0.5rem;
    /* overflow: hidden; */
  }
  .header .logo {
    width: 10rem;
    height: auto;
  }
  .header .logo img {
    width: 23%;
  }
  .navbar {
    display: none;
    text-align: center;
    transition: all 0.5s ease;
  }
  .nav-list li {
    margin: 7px 0;
    /* transition: all 0.5s ease; */
  }
  .nav-list {
    width: 100%;
    margin-top: 4.2rem;
    padding: 1rem 0;
    position: absolute;
    top: 0;
    left: -10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(-100%);
    transition: all 0.5s linear;
    z-index: 1000;
    background-color: #ffffff;
  }
  .mobile-nav-btn {
    display: block;
    z-index: 1000;
  }
  .active-nav {
    /* left: 0; */
    transform: translateX(00%);
    width: 120%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .active-nav .mobile-nav-btn .nav-icon[name="close"] {
    display: block;
  }
  .active-nav .mobile-nav-btn .nav-icon[name="hamburger"] {
    display: none;
  }

  /* --------------------------- */
  /* about */
  .about .about-img {
    max-width: 29rem;
    flex: 100%;
  }
  .about .about-text {
    flex: 100%;
  }
  .about .about-text p {
    padding-top: 15px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 675px) {
  .themaroons {
    background-size: 130%;
  }
  .footer .footer-icones {
    gap: 1rem;
  }
  .footer .footer-links {
    gap: 0;
  }
  .footer .footer-links a {
    flex: 100%;
    gap: 0;
  }
  /* scroll btn */
  #myBtn {
    padding: 0.7rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 608px) {
  .container {
    width: 100% !important;
    padding: 3.25px 0 !important;
  }
}
@media only screen and (max-width: 500px) {
  .themaroons {
    width: 100%;
    height: 100vh;
    background: url("image/respHero.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }
}
